# Web Framework
fastapi
pydantic
python-dotenv
uvicorn
jinja2

# Database
sqlalchemy

# Excel handling
openpyxl

# Web scraping
beautifulsoup4
requests
playwright
aiohttp
markdownify

# Dashboard
dash
plotly
pandas
reportlab
numpy

# AI/ML
pydantic-ai
google-genai
